@import "normalize";

$red: #f16567;
$blue: #7291ca;

body {
    font-family: "Arial Rounded MT Bold", sans-serif;
}

a {
    cursor: pointer;
}

.tbaloader {
    $loader-width: 800px;
    $loader-height: 600px;

    & > div {
        position: absolute;
        //box-sizing: border-box;
        width: $loader-width;
        height: $loader-height;
        left: 50%;
        top: 50%;
        margin-left: -($loader-width / 2);
        margin-top: -($loader-height / 2);
    }

    .mode-select {
        padding-top: 190px;

        text-align: center;
        display: block;

        .mode {
            font-size: 36px;

            & > * {
                vertical-align: middle;
            }

            &.all a {
                border-bottom: 2px dashed rgba(0, 0, 0, 0.2);

                &:hover {
                    border-bottom-color: black;
                }
            }
        }

        .or {
            &::before {
                content: "- ";
            }
            &::after {
                content: " -";
            }

            color: #666;
            margin-top: 30px;
            margin-bottom: 24px;
        }

        input {
            width: 140px;
            background: none;
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            outline: none;
            padding: 2px 0.2em 0;
        }

        a.go {
            border: none;
            background-color: #bbb;
            color: white;
            padding: 0.2em;
            font-size: 0.8em;
            border-radius: 4px;

            &.active {
                background-color: #41B741;
            }
        }

        .match-key-info, .match-key-info-link {
            font-size: 16px;
            color: #8C8C8C;
            letter-spacing: 0.8px;
            line-height: 1.6em;
            display: none;

            em {
                font-style: normal;
                color: #666; 
            }
        }

        .match-key-info-link {
            display: block;

            & a:hover {
                color: #666;
            }
        }
    }

    .match-diffs {
        $match-diff-header-height: 60px;
        $options-width: 100px;

        display: none;

        .header {
            position: absolute;
            width: 100%;
            height: $match-diff-header-height;
            left: 0;
            top: 0;
            border-bottom: 1px solid #aaa;
            background-color: #eee;

            .finish {
                $finish-button-height: 40px;
                $finish-button-margin: ($match-diff-header-height - $finish-button-height) / 2;

                box-sizing: border-box;
                position: absolute;
                width: 100px;
                height: $finish-button-height;
                right: $finish-button-margin;
                top: $finish-button-margin;

                background-color: #00C500;
                border-radius: $finish-button-height / 2;
                color: white;
                font-size: 20px;
                padding: 8px;
                text-align: center;
            }
        }

        .match-diff-list {
            position: absolute;
            width: 100%;
            height: $loader-height - $match-diff-header-height;
            left: 0;
            top: $match-diff-header-height;
            overflow-y: scroll;
        }

        .match-diff {
            position: relative;
            height: 60px;
            border-bottom: 1px solid #aaa;
        }

        .match {
            position: absolute;
            width: ($loader-width - $options-width) / 2;
            height: 100%;
            color: #999;

            .match-key, .match-score {
                position: absolute;
                font-size: 24px;
                padding: 5px 15px;
                top: 12px;
            }

            &.original {
                left: 0;

                .match-key {
                    left: 0;
                }
                .match-score {
                    right: 0;
                }
            }

            &.new {
                right: 0;

                .match-key {
                    right: 0;
                }
                .match-score {
                    left: 0px;
                }
            }

            &.selected {
                color: black;
            }
        }

        .options {
            box-sizing: border-box;
            position: absolute;
            width: $options-width;
            height: 100%;
            left: 50%;
            top: 0;
            margin-left: -$options-width / 2;
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
        }

        .option {
            $option-width: 20px;
            $option-side-margin: ($options-width - (2 * $option-width)) / 3;
            $option-hover-color: #888;
            
            position: absolute;
            box-sizing: border-box;
            width: $option-width;
            height: $option-width;
            top: 51%;
            margin-top: -$option-width / 2;
            border: 1px solid #999;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                border-color: $option-hover-color;

                &.active::after {
                    background-color: $option-hover-color;
                }
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.05);
            }

            &::before {
                font-family: "FontAwesome";
                -webkit-font-smoothing: antialiased;
                
                position: absolute;
                bottom: $option-width + 3px;
                text-align: center;
                width: 20px;
                margin-left: -1px;
            }

            &.active::after {
                content: '';

                $bullet-width: 8px;
                position: absolute;
                width: $bullet-width;
                height: $bullet-width;
                margin-left: -$bullet-width / 2;
                margin-top: -$bullet-width / 2;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                background-color: #aaa;
            }

            &.keep {
                left: $option-side-margin;
            }

            &.update {
                right: $option-side-margin;
            }

            .option-tooltip {
                $option-tooltip-color: rgba(0, 0, 0, 0.6);
                $option-tooltip-width: 90px;

                box-sizing: border-box;
                display: none;
                position: absolute;
                width: $option-tooltip-width;
                left: 50%;
                top: calc(100% + 8px);
                margin-left: -$option-tooltip-width / 2;

                background-color: $option-tooltip-color;
                color: white;
                font-size: 12px;
                text-align: center;
                padding: 4px;
                border-radius: 3px;
                z-index: 1;

                &::before {
                    $option-tooltip-arrow-height: 5px;
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: -$option-tooltip-arrow-height * 2;
                    left: 50%;
                    margin-left: -$option-tooltip-arrow-height;
                    border: $option-tooltip-arrow-height solid;
                    border-color: transparent;
                    border-bottom-color: $option-tooltip-color;
                    display: block;
                }
            }

            &:hover .option-tooltip {
                display: block;
            }
        }

        .header .option {
            top: 66%;

            &.keep::before {
                content: '\f0c7';
            }
            &.update::before {
                content: '\f0eb';
            }
        }
    }

    .confirmation-wrapper {
        display: none;

        .confirmation {
            box-sizing: border-box;
            position: absolute;
            width: 60%;
            height: 60%;
            left: 20%;
            top: 20%;

            background-color: #ccc;
            padding: 50px;
            border-radius: 10px;
            font-size: 24px;
            text-align: center;
        }
    }
}

.live {
    // background-color: magenta;

    * {
        box-sizing: border-box;
    }

    .live-match {
        $container-height: 260px;
        $info-height: 55px;
        $match-padding: 20px;

        $match-height: $container-height - $info-height;

        .container {
            height: $container-height;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ddd;
            font-family: "Arial Rounded MT Bold", sans-serif;
        }

        .info-container {
            $info-padding: 10px;

            $info-content-height: $info-height - $info-padding * 2;

            width: 100%;
            height: $info-height;
            position: absolute;
            left: 0;
            top: 0;
            padding: $info-padding $match-padding;
            background-color: #ccc;
            font-size: $info-content-height;

            .logo {
                width: 150px;
                height: $info-content-height;
                background-size: contain;
                background-repeat: no-repeat;

                &.left {
                    float: left;
                    background-image: url('/images/logo-first.png');
                }
                &.right {
                    float: right;
                    background-image: url('/images/logo-stronghold.png');
                    background-position: right;
                }
            }

            .info-text {
                $info-text-center-spacing: 50px;

                height: $info-content-height;
                position: absolute;
                top: $info-padding;
                font-size: 0.8em;

                &.match {
                    right: 50%;
                    padding-right: $info-text-center-spacing;
                }
                &.event {
                    left: 50%;
                    padding-left: $info-text-center-spacing;
                }
            }
        }

        .match-container {
            $match-content-height: $match-height - $match-padding * 2;

            width: 100%;
            height: $match-height;
            position: absolute;
            top: $info-height;
            padding: $match-padding;

            .center-container {
                $center-width: 1000px;
                $timer-scores-width: 600px;

                width: $center-width;
                height: $match-content-height;
                position: absolute;
                left: 50%;
                top: $match-padding;
                margin-left: -$center-width / 2;

                .teams {
                    $team-width: 120px;
                    $team-height: 34px;

                    width: ($center-width - $timer-scores-width) / 2;
                    height: 100%;

                    .team {
                        width: $team-width;
                        height: $team-height;
                        padding: 3px 20px;
                        margin-bottom: 8px;
                        font-size: 24px;
                        background-color: white;
                        position: relative;

                        &:first-of-type {
                            margin-top: 8px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            box-sizing: border-box;
                            width: 0;
                            height: 0;
                            position: absolute;
                            top: 0;
                            border: solid;
                            border-width: ($team-height / 2) 30px;
                            border-color: transparent white;
                        }
                    }

                    &.left {
                        float: left;
                    }
                    &.right {
                        float: right;
                    }

                    &.left .team {
                        margin-left: auto;
                        text-align: right;

                        &::after {
                            right: $team-width;
                            border-left-width: 0;
                        }
                    }
                    &.right .team {
                        // No special properties

                        &::after {
                            left: $team-width;
                            border-right-width: 0;
                        }
                    }
                }

                .timer-scores {
                    $timer-height: 40px;

                    width: $timer-scores-width;
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -$timer-scores-width / 2;

                    .timer {
                        width: 100%;
                        height: $timer-height;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: #bbb;
                        font-size: $timer-height;
                    }

                    .timer-count {
                        width: 100px;
                        height: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        font-size: 0.8em;
                    }

                    .score {
                        $flag-height: 20px;

                        width: 50%;
                        height: $match-content-height - $timer-height - $flag-height;
                        margin-top: $timer-height;
                        text-align: center;
                        font-size: 80px;
                        padding-top: 5px;

                        &.left {
                            float: left;
                        }
                        &.right {
                            float: right;
                        }

                        &.red {
                            background-color: $red;
                            border-color: $red;

                            &::after {
                                border-left-color: $red;
                                border-right-color: $red;
                            }
                        }
                        &.blue {
                            background-color: $blue;

                            &::after {
                                border-left-color: $blue;
                                border-right-color: $blue;
                            }
                        }

                        &::after {
                            content: '';
                            display: block;
                            box-sizing: border-box;
                            width: 50%;
                            border: 0px solid transparent;
                            border-width: 0 ($timer-scores-width / 4) $flag-height;
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }
            }

            .defenses {
                $defenses-inset: 19%;
                $defenses-top-padding: 15px;
                $defense-width: 120px;
                $defense-height: 18px;

                position: absolute;
                top: $match-padding + $defenses-top-padding;

                &.left {
                    left: $defenses-inset;
                    margin-left: -$defense-width / 2;

                    .defense::after {
                        left: 0;
                    }
                }
                &.right {
                    right: $defenses-inset;
                    margin-right: -$defense-width / 2;

                    .defense::after {
                        right: 0;
                    }
                }

                .defense {
                    position: relative;
                    width: $defense-width;
                    height: $defense-height;
                    margin-bottom: ($match-content-height - (2 * $defenses-top-padding) - (5 * $defense-height)) / 4;
                    background-color: #bbb;
                }

                .defense::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    height: $defense-height;
                }

                .defense[data-strength="2"]::after {
                    width: 100%;
                }

                .defense[data-strength="1"]::after {
                    width: 50%;
                }

                &.red .defense::after {
                    background-color: $red;
                }
                &.blue .defense::after {
                    background-color: $blue;
                }
            }

            .castle {
                position: absolute;
                width: 150px;
                height: $match-content-height;
                top: $match-padding;
                background-image: url('/images/castle.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position-x: 50%;

                &.left {
                    left: 75px;
                }
                &.right {
                    right: 75px;
                }

                .castle-strength {
                    text-align: center;
                    font-size: 48px;
                    padding-top: 60px;
                }
                &[data-strength="0"] .castle-strength {
                    opacity: 0.3;
                }
            }
        }
    }
}
